.github-repo-card {
    border: 1px solid #bababa;
    font-size: 1.4em;
    font-family: 'Source Sans Pro';
    width: 25em;
    display: block;
    margin: 1em;
}

.github-repo-card .header {
    background: linear-gradient(180deg, rgba(166,166,166,1) 0%, rgba(200,200,200,1) 100%);
    padding: 0.5em;
    font-weight: bold;
    font-family: 'Source Sans Pro';
    width: auto;
}

.github-repo-card a {
    color: black;
    text-decoration: none;
}

.github-repo-card .project-body {
    all: initial;
    display: flex;
    background-color: white;
}

.github-repo-card .project-description {
    all: initial;
    padding: 0.5em;
    background-color: white;
    font-family: 'Source Sans Pro';
}

.github-repo-card .project-body #user-avatar {
    max-width: 7em;
    padding: 0.5em;
}

.github-repo-card .button {
    all: initial;
    background: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    display: inline-block;
    border-radius: 1em;
    margin-left: 0.5em;
    font-family: 'Source Sans Pro';
    font-size: inherit;
}

.github-repo-card .text {
    padding: 0.1em 0.1em 0.1em 0.5em;
    display: inline;
}

.github-repo-card .button .count {
    display: inline;
    background-color: white;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding-right: 0.5em;
    padding-left: 0.3em;
}